modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 3001
externalPort = 6000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3003

[[ports]]
localPort = 34301
externalPort = 8099

[[ports]]
localPort = 35413
externalPort = 5173

[[ports]]
localPort = 35513
externalPort = 6800

[[ports]]
localPort = 37361
externalPort = 3001

[[ports]]
localPort = 37897
externalPort = 8008

[[ports]]
localPort = 38283
externalPort = 8080

[[ports]]
localPort = 40819
externalPort = 5000

[[ports]]
localPort = 41079
externalPort = 8000

[[ports]]
localPort = 44805
externalPort = 4200

[[ports]]
localPort = 44933
externalPort = 8081

[[ports]]
localPort = 44947
externalPort = 3000

[[ports]]
localPort = 46863
externalPort = 3002

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["firebase_barebones_javascript:1.0.0"]

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyApvE5ujAeaVkZ2iRAiLXtiu56t7-ighoI"
VITE_FIREBASE_PROJECT_ID = "myapp-d9024"
VITE_FIREBASE_APP_ID = "1:985459317658:web:bee1f2fd2e4c16df74f823"
FIREBASE_CONFIG_AUTH_DOMAIN = "myapp-d9024.firebaseapp.com"
FIREBASE_CONFIG_STORAGE_BUCKET = "myapp-d9024.firebasestorage.app"
FIREBASE_CONFIG_MESSAGING_SENDER_ID = "985459317658"
FIREBASE_CONFIG_MEASUREMENT_ID = "G-17B5K4J0P0"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQClRh7WkcOfCejR
/zp5ag6RyBiEB5yGrxdFbJOFomFWvXfNulS0ABBm/W1x/qVaoi8JCBUBycROMZzE
YJrI7YW/Zd78HZdpmjOddgTdJI/37LiVRY3D5MeicnQn6xxEHNuPXLCxM4WLNFsA
cJcv1Dix4CZlq7MySwAT49dAJmVoI490Wz8brSpNtkUIkVvpwhXPYUlevaz+fH06
ASxuXClHPYnZbDXE5eyumgGXvzmuyshMgd1iKa18KZaH/NQ/wUhKROk/dK03y9UK
AGLyhSz4uPDs6r+YgE8qb5EF3RL2CCrPIKB/N2G1dc9zGNqy6rrweHUbmhm5z+Fh
YfWOxNllAgMBAAECggEAFIDRsBBGuqrly3F0jV3rH0o5wl1YXXwIsMfiuDwYA8T/
ARJp0ifE4SX05ySuWkNO/vmV85IWjJXKizEp2p3ezwsCAfhg0Yy79P+QZGfWBW2E
S55kkyYFXyGAR/h6mfeThGI9GEqaOVX+KRyOoPQcsXJriQbnNOjJgm4sRKzOvT+i
wR5x7DzSAEcVAZ/RC7+rV5eSjeiwzhhsjAyD1Tch2SVy5hMO0a5tD4bu+0Hy8itf
cfUmcltYQgUgjZ/JMrhtRbLYaAtO73JgUVcPCWwkc6OptrSX/Ir/3j5mKm5vQ5rT
VrxxMsZVK16r2zVitaSDBZfVa0UEOKI+2ie3PeV0UQKBgQDl3jPqWxQjbuhflZKW
swuZC5Ht8gYnQ8S0JP8AAoSEeeYLkrWZ+XaNnjznetrzHbnb5Te2icbOmRR34Rqk
1WreLHkVeU5JtWZcF7EgM8Vakgrooiafw9z+1GnnMYjm0dV+YLj7WDJh+rs65zRU
ZJDaAf+bsBxeBjU3EBMbU3hdkQKBgQC4EAz1h2KuFrMXc9XOzrQPWpb/f3nC1llF
j23pRGnWZtNKzzZbKMuRCStD3/M7zVix++owbtTZ6pJ9/ts7a3OQbLctFV+L+G7A
vR2Z5xY6JJ2h0hTH7/AbO5qL2dX/GPZGVOQp9Y9PEjasMn4TRCJki5s5qF+74sHs
LzSANK4klQKBgQCKGju6m0m4GBQICUbuv1dCdc8Q1A2aXX66dFe328teBBaP8W6l
uVjesKkKsacF1WAqmsYkJxaIXTQM6fMmAQqZvMJqglzkr9V1ks5Z+ICjb4aaSYFH
D1egymFuAzaq5nqL2PSKHWz3rLn8I5gu89SLBhRZpy8D1lr2X/P6wOVZ4QKBgAyH
YypvXcM13ljxVJNwNId7Bh48IiCmEIuQmM2xD3c9ppJICo4n97tWoXBMVTUz5B6x
ZB6J3Mk8k14qM+gWh1ZEYC+cbdWMQpWyCcrJFRU+GtDCCRIW/gQMiZeNa2ii3Viq
PKGyil+6gKg2A6jyEVlAu38wO9wBMmwORoeXjmcFAoGBANZR1dZgiUQEMOjFiV0y
gFHBQJdxBFapxa1JjePKR7llsrNhXIYduh7RwTHuA8hmdxnH+xdWGaktZKFHi0Sv
1bQ7RsrgZcMcEEP7fW/ZGYCQw/HeJfloHrL2MJooR1TjSmNwSuFBaFak7rKmZ+a6
IK79moKOO301CXea10CgBAsK
-----END PRIVATE KEY-----
"""
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@myapp-d9024.iam.gserviceaccount.com"
FIREBASE_PROJECT_ID = "myapp-d9024"
VITE_FIREBASE_AUTH_DOMAIN = "myapp-d9024.firebaseapp.com"
VITE_FIREBASE_STORAGE_BUCKET = "myapp-d9024.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "985459317658"
VITE_FIREBASE_MEASUREMENT_ID = "G-17B5K4J0P0"
VITE_FIREBASE_VAPID_KEY = "O4y0eN55wbSySTSTmch7kA09JUTbhKJ0H-uY1zD61SI"
